:root {
  --white: #FFF;
  --primary: #61ECBC;
  --black: #182339;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: 1;
}

.app-title span {
  display: block;
  font-size: 4.4rem;
  color: var(--primary);
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  color: var(--black);
}

.form select {
  background-color: #ECEBEB;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}

.form input[type='submit'] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color 300ms ease;
}

.form input[type='submit']:hover {
  background-color: #0CB387;
  color: var(--white);
}